<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>汤圆博客</title>
		<link href="../static/css/base.css" type="text/css" rel="stylesheet" />
		<link href="../static/css/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<!-- header start -->
		<header class="header">
			<div class="wrap clearfix">
				<div class="fl">
					<h1>汤圆博客</h1>
					<ul class="fl clearfix">
						<li class="active">
							<a href="javascript:;">首页</a>
						</li>
						<li>
							<a href="blog_details.html">博客</a>
						</li>
					</ul>
				</div>
				<div class="header-search fr" >
					<div class="search-cont fl">
						<input type="text"  placeholder="请输入搜索的内容"/>
						<button type="submit">搜索</button>
					</div>
					<div class="head-caption fl clearfix">
						<span class="fl">tangyuan</span>
						<div class="caption-img fl">
							<img src="../static/images/caption.jpg"/>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- header end -->
		
		<!-- 内容开始 -->
		<div class="wrap content">
			<h1>TANGYUANG博客</h1>
			<div class="content-items wrap">
				<ul class="clearfix">
					<li>
						<a href="javascript:;">
							<div class="items-pic">
								<img src="../static/images/aboutperson.jpg" alt="">
							</div>
							<p>加密系统</p>
						</a>
					</li> 
					<li>
						<a href="javascript:;">
							<div class="items-pic">
								<img src="../static/images/aboutperson.jpg" alt="">
							</div>
							<p>加密系统</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="items-pic">
								<img src="../static/images/aboutperson.jpg" alt="">
							</div>
							<p>加密系统</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="items-pic">
								<img src="../static/images/aboutperson.jpg" alt="">
							</div>
							<p>加密系统</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="items-pic">
								<img src="../static/images/aboutperson.jpg" alt="">
							</div>
							<p>加密系统</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="items-pic">
								<img src="../static/images/aboutperson.jpg" alt="">
							</div>
							<p>加密系统</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="items-pic">
								<img src="../static/images/aboutperson.jpg" alt="">
							</div>
							<p>加密系统</p>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="items-pic">
								<img src="../static/images/aboutperson.jpg" alt="">
							</div>
							<p>加密系统加密系统加密系统加密系统</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 内容结束 -->
		<footer class="footer">
			<div class="footer-title">汤圆博客</div>
			<div class="footer-nav">
					 <a href="index.html" title="Work">工作</a>
					|<a href="about.html" title="Work">关于</a>
					|<a href="index.html" title="Work">项目</a>
					|<a href="index.html" title="Work">联系</a>
				</ul>
			</div>
			<p class="copy-right">&copy; 2019  版权汤圆所有</p>
		</footer>
	</body>
</html>
